* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  background-color: #35424a;
  border-bottom: #e05447 solid 4px;
}

header .container {
  width: 70%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#branding h1 {
  font-weight: 600;
  color: white;
}

.highlight {
  color: #e05447;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

nav #current a {
  color: #e05447;
}

#showcase {
  width: 100%;
  background-image: url(../img/gigi-logo.png), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  filter: grayscale(100%);
  background-blend-mode: overlay;
}

#showcase .container {
  width: 70%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#showcase h1 {
  text-align: center;
  font-size: 3rem;
  line-height: 3rem;
  color: white;
  margin-bottom: 3rem;
}

#showcase p {
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.wrapper-nwsltr {
  width: 100%;
  height: 100px;
  background-color: #35424a;
}

#newsletter {
  width: 70%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#newsletter h1 {
  color: white;
  text-align: left;
}

#newsletter input[type="email"] {
  width: 200px;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
}

#newsletter button {
  width: 120px;
  padding: 10px 15px;
  background-color: #e05447;
  border: none;
  color: white;
  font-size: 14px;
}

#boxes {
  width: 100%;
  background-color: #f4f4f4;
}

#boxes .container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 30px;
  margin: 0 auto;
}

.box {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.box img {
  width: 100px;
  height: 100px;
}

.box h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin: 0 auto;
  background-color: #e05447;
  color: white;
}
